<h1>Todos los Productos</h1>
<div>
    <ul>
        {{#each products}}
        <li> {{name}}: {{price}}</li>
        <li> {{name}}: {{price}}</li>
        <li> {{name}}: {{price}}</li>
    </ul>
   
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>