<div>
    <h2>Lista de Productos: </h2>
</div>
<div id="products-add">
    <ul>
        {{#each products}}
        <li>
            <a href="/products/{{this._id}}">{{this.title}}</a>
            <a href="./cart.handlebars"></a><button>Agregar al carrito</button>
        </li>
        {{/each}}
    </ul>
    <div>
        {{#if products.hasPrevPage}}
            <a href="/products?page={{products.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
            <a href="/products?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</div>
 